.video-list {
    display: flex;
    padding: 0;
    flex-flow: column nowrap;
    list-style: none;
    justify-content: center;
    background-color: rgba(0,0,0,0.25);
    border-radius: 1rem;
    padding-top:  2rem;
    padding-left: 2rem;
}

.video-card {
    a { 
        img,h3 {
            max-width: 280px;
        }
    }
}

@media screen and (min-width: 800px) {
    .video-list {
        flex-flow: row wrap;
    }
    .video-card {
        margin-right: 2rem;
        a > img {
            width: auto;
        }
    }
}