html,
body {
  padding: 0;
  margin: 0;
  font-family: din alternate, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('../public/Background.png');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.siteby {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 3vh;
  padding-right: 3vw;

  a {
    color: blue;
    text-decoration: underline;
  }
}

main {
  max-width: 80%;
  min-height: 70vh;
  margin: auto;
}
@import 'header.scss';
@import 'archive.scss';
@import 'events.scss';